<!DOCTYPE html>
<html>
<head>
</head>
<body>

<p>Hi <buyer first name>,</p>

	<p>I noticed that you cancelled your <project name> on <%= SITE_NAME %> yesterday.</p>

	<p>Since you were one of the first few users to use Overhaul Bids, I’m really curious to know why you cancelled.</p>
	<p>	No online survey here. Just reply back and be brutally honest. Any comments, positive or negative are deeply appreciated.
	</p>

	<p>Sincerely,</p>
	<img src="<%= SITE_LOGO %>" height="35px" />
	<p><%= EMAIL_SIGN_EMAIL %></p>
	<p><%= EMAIL_SIGN_NUMBER%></p>
</body>
</html>