<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<p>Hi <seller first name>,</p>
	<p>We’re letting you know a project that you bid on was cancelled.</p>

	Project:
	<category>
	<subcategory> 
	<engine model>
	<Tail Number>
	<aircraft make>
	<aircraft model>
	<description>

	Your Proposal:
	Details
	<bid description>
	Delivery Timeline: Within <bid delivery time>
	Bid Amount: $<bid amount>


	<p>Please let us know if you have any questions.</p>
	<p>Sincerely,</p>
	<img src="<%= SITE_LOGO %>" height="35px" />
	<p><%= EMAIL_SIGN_EMAIL %></p>
	<p><%= EMAIL_SIGN_NUMBER%></p>
</body>
</html>