<div class="main_container toppd50">
	<div class="container user_profile">
		<%=render :partial=>'homes/sidebar'%>
		<section class="row user_right">
			<div class="ft25 gotham_medium">About Us</div>
			<div class="terms_head alg_reg">
				<p>DevelopScripts is worldwide corporate headquarters are located in the Dallas, TX USA . In addition to having vast resources in R&D located in India.</p>
				<br>
				<p>Over the past five years, DevelopScripts had achieved building customer great products like Wedding.com in Web - Mobile Development and clear Training- development of scripts for various operators & service providers.</p>
				<br>
				<p>Our core focus is development on Web, Mobile, Cloud and Servers. Without skilled Developers any company is like opening a restaurant and not even being able to cook the food. Our company has 5 years of experience and we have expereince Team Web & Telecom.</p>
				<br>
				<p>We are Technical Co-Founder for your business till your business make profitability to Hire a US Resource. What's really important for startup success is to have a complete team. We come in being a US business and have experience to understand, how much of a backbone we are and what is need to give our best for your business to be successful.</p>
				<br>
				<p>For more details, please visit our site</p>
				<a href="http://www.auctionsoftware.com">www.auctionsoftware.com</a>

			</div>
		</section>
	</div>
</div>