<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://jwpsrv.com/library/we256O5gEeSrKA4AfQhyIQ.js"></script>
</head>
<body>
<div id='playeraYmBMyjVpANH'></div>
<script type='text/javascript'>
    jwplayer('playeraYmBMyjVpANH').setup({
        file: 'https://s3.amazonaws.com/auctionsoftware/AuctionSoftware+Final+(2).mp4',
        image: '//www.longtailvideo.com/content/images/jw-player/lWMJeVvV-876.jpg',
        title: 'auction',
        width: '100%',
        aspectratio: '16:9',
        mute: 'false',
        autostart: 'true',
        repeat: 'true'
    });
</script>
</body>
</html>