<div class="main_container toppd50">
	<div class="container user_profile">
		<%=render :partial=>'homes/sidebar'%>
		<section class="row user_right">
			<div class="ft25 gotham_medium">Blog</div>
		</section>
	</div>
</div>