<div class="main_container toppd50">
	<div class="container user_profile" style="min-height: 400px;">
		<%=render :partial=>'homes/sidebar'%>
		<section class="row user_right">
			<div class="ft25 gotham_medium">For Freelancers</div>
		</section>
	</div>
</div>