<div class="wrapper">
    <section class="section">
        <div class="container">
            <div class="row">
<!--                <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
                    </div>
                </div> -->
                <div class="col-md-9 col-md-offset-2">
                    <div class="content">
                        <div class="pull-middle">
                            <h2 class="h1 page-header">Thank you for signing up in <%= SITE_NAME_SHORT %></h2>
                            <ul class="media-list" style="margin-left: 104px;">
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-cloud icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Please Confirm your email address  </h3>
                                  <p>in the confirmation email sent to activate your account</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-lock icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">We can't wait to connect you with the right freelancers !</h3>
                                </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>