<div class="main_container">
    <div class="container user_profile">
        <%= render(:partial => '/projects/dashboard_header') %>
        <aside class="user_left1">
            <%= render partial: "/account/menu" %>
        </aside>
        <section class="row user_right1">
        	<%= render 'form' %>
        </section>
    </div>
</div>